@page "/create-todo"

<h3>Create a todo</h3>

<AuthorizeView>
    <Authorized>
        <CreateTodo OnCreate="AddTodo"></CreateTodo>
        <ShowTodos @ref="showTodos"></ShowTodos>
    </Authorized>
    <NotAuthorized>
        <MudText Typo="Typo.h2">Hey! you need to log in to access this page</MudText>
    </NotAuthorized>
</AuthorizeView>

@code {
    private ShowTodos showTodos;
    private Todo todo = new Todo();

    public void AddTodo(Todo todo)
    {
        showTodos.AddTodo(todo);
    }

}