@page "/groups/{GroupId}"

<h3>Create a todo in this group</h3>

<AuthorizeView>
    <Authorized>
        <CreateTodo @ref="createTodo" OnCreate="AddTodo" GroupId="@GroupId"></CreateTodo>
        <ShowTodos @ref="showTodos" GroupId="@GroupId"></ShowTodos>
    </Authorized>
    <NotAuthorized>
        <NotLoggedIn></NotLoggedIn>
    </NotAuthorized>
</AuthorizeView>

@code {
    private CreateTodo createTodo;

    [Parameter]
    public string GroupId { get; set; }

    private ShowTodos showTodos;
    private Todo todo = new Todo();

    public void AddTodo(Todo todo)
    {
        showTodos.AddTodo(todo);
    }

}