@inherits OwningComponentBase<HttpHelper>

<EditForm Model="@group" OnValidSubmit="@CreateAsync">
    @if (created)
    {
        <div class="alert alert-success" role="alert">
            Group created successfully!
        </div>
    }
    <DataAnnotationsValidator />
    <ValidationSummary />
    <MudTextField Label="Name" Variant="Variant.Outlined" @bind-Value="@group.Name" Class="mb-3" />
    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">Create</MudButton>
</EditForm>

@code {
    private Group group = new Group();
    private bool created = false;
    public async Task CreateAsync()
    {
        await Service.CreateGroupAsync(group);
        created = true;
        group = new Group();
        StateHasChanged();
    }
}