@inject HttpClient HttpClient

<EditForm Model="@Todo" OnValidSubmit="@EditAsync">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <InputText class="form-control" id="name" @bind-Value="@Todo.Name" />
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Priority</label>
        <InputNumber class="form-control" id="priority" @bind-Value="@Todo.Priority" />
    </div>
    <button class="btn btn-primary mb-3" type="submit">Save</button>
</EditForm>

@code {
    [Parameter]
    public Todo Todo { get; set; }
    [Parameter]
    public EventCallback EventCallback { get; set; }

    public async Task EditAsync()
    {
        var url = "api/todos/" + Todo.Id;
        var response = await HttpClient.PutAsJsonAsync(url, Todo);
        response.EnsureSuccessStatusCode();
        await EventCallback.InvokeAsync();
    }
}