.todos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: flex-start;
}

.todo {
    width: 24%;
    margin: 5px;
}

@media (max-width: 800px) {
    .todos {
        flex-direction: column;
    }

    .todo {
        width: 100%;
    }
}